body{
background-color: violet;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: Keeraan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Keeraan{
    from{box-shadow: 2px 2px 40px blue;}
    to{box-shadow: 2px 2px 40px  turquoise;}
}

#show_sketch{
    float: right;
}